.container{
  max-width: 1180px;
  margin: 0 auto;
}

.grid{
  display: flex;
  flex-wrap: wrap;
}
.grid-item{
  width: 33.3333%;
  padding : 15px;
  @include screen-md{
      width: 50%;
  }

  @include screen-sm{
      width: 100%;
  }
}